body {
    background-color:#f1d9d9;
    font-family: Tahoma, Arial, sans-serif;
}

header {
    background-color:#736e6d;
    padding-left: 15px;
    color:aliceblue
}

dt {
    font-weight: bold;
}

h3 {
    padding-top: 25px;
    padding-bottom: 3px;
}

footer {
    background-color:#feffda;
    align-items: center;
}